/* Overlay */
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    padding: 0;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  @media screen and (min-width: 480px) {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

/* Modal */
.modal {
  // position: absolute;
  // z-index: 2;
  // top: 50%;
  // left: 50%;
  margin: auto;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  // transform: translate(-50%, -50%) scale(1);
  // transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal > .modal__close-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal__close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .modal__close-button:hover &,
  .modal__close-button:focus & {
    fill: $active-link-color;
  }
}
.modal__form {
  // &&&&&&&&
  // width: 528px;
  width: calc(100vw - 30px);
  @media screen and (min-width: 558px) {
    width: 528px;
  }
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  padding: 0px 40px 40px 40px;

  // max-width: 100vw;
}
.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $title-text-color;
}
.modal__form-field {
  position: relative;
  display: flex;
}
.modal__fill-form {
  margin-bottom: 20px;
}
.modal__fill-form > .modal__form-field:not(:last-child) {
  margin-bottom: 10px;
}
.modal__fill-form > .modal__form-field {
  flex-direction: column-reverse;
}
.modal__fill-form > .modal__form-field > label {
  margin-bottom: 4px;

  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $text-color;
}
.modal__fill-form > .modal__form-field > input {
  height: 38px;
  padding: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  max-width: 100%;
}
.modal__fill-form > .modal__form-field > input:focus {
  outline: 0;
  border: 1px solid $active-link-color;
}
.fill-form-icon {
  position: absolute;
  top: calc(50% + 18.03px);
  left: 12px;
  transform: translateY(calc(-50% - 18.03px / 2));
}
.modal__fill-form > .modal__form-field > input:focus ~ .fill-form-icon {
  fill: $active-link-color;
}
.modal__fill-form > .modal__form-field > textarea {
  resize: none;

  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: $text-color;
}
.modal__fill-form > .modal__form-field > textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__fill-form > .modal__form-field > textarea:focus {
  outline: 0;
  border: 1px solid $active-link-color;
}

.policy {
  position: relative;
  margin-bottom: 30px;
  justify-content: center;
}
.policy > input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.policy > label {
  // display: flex;
  // align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $text-color;
}
.policy > label > a {
  text-decoration: underline;
  color: $active-link-color;
}
.policy > label::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1.75px solid $title-text-color;
  border-radius: 2px;
}
.policy > input:checked + label::before {
  border: 0;
  background-image: url(../Images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.modal__button {
  padding: 10px 55px 10px 56px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;

  background-color: $active-link-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
