.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio-section__filter-buttons-list {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.filter-buttons-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 8px);
  margin-top: calc(-1 * 15px);

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.filter-buttons-list__item {
  margin-left: 8px;
  margin-top: 15px;
}
.filter-button {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: $active-link-color;
    color: #ffffff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

// Grid
.filter-info-grid {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
}
@media screen and (max-width: 767px) {
  .filter-info-grid__item + .filter-info-grid__item {
    margin-top: 30px;
  }
}
.filter-info-grid__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    min-width: 354px;

    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    min-width: 370px;
  }
}
.project {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
}
.project__overlay {
  position: relative;
  overflow: hidden;
}
.project__overlay-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .project:hover > .project__overlay > & {
    transform: translateY(0%);
  }
}
.project__title {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
.filter-info-grid .project__name {
  margin-bottom: 4px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project__type {
  color: $text-color;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
