.team-section {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team-section__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.team-section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc(-1 * 30px);

  @media screen and (min-width: 768px) {
    margin-left: calc(-1 * 30px);
  }
}
.team-section__item {
  margin-top: 30px;
  min-width: 450px;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    min-width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    min-width: 270px;
  }
}
.team-section__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-thumb__title {
  margin-bottom: 10px;
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-thumb__proffesion {
  margin-bottom: 16px;
  color: $text-color;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-thumb__list {
  display: flex;
  justify-content: center;
}
.team-thumb__item + .team-thumb__item {
  margin-left: 10px;
}
.social-web-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $active-link-color;
  }
}
.team-section__icon {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .social-web-list__link:hover > &,
  .social-web-list__link:focus > & {
    fill: #ffffff;
  }
}
